<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!--Write a Servlet to display parameters available on request.-->
    <servlet>
        <servlet-name>interestcalculation</servlet-name>
        <servlet-class>interestcalculation</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>interestcalculation</servlet-name>
        <url-pattern>/interestcalculation</url-pattern>
    </servlet-mapping>
</web-app>
